.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

Build/
Dist/
*.spec.bak

.pytest_cache/
.mypy_cache/
.ruff_cache/

Docs/latex/*.aux
Docs/latex/*.log
Docs/latex/*.out
Docs/latex/*.toc
Docs/latex/*.lof
Docs/latex/*.lot

.vscode/settings.json

Thumbs.db
.DS_Store
